/* base styles */
* ,*::before, *::after{ 
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
}
html, body {
	min-height: 100%;
    height:auto;
    width:100%;
	background: #fff;
	color: #000;
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding:0;
    margin:0;
    
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */
	li{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color:inherit;
    }
body {
	text-rendering: optimizeLegibility;
}
img{
    max-width: 100%;
    display:block;
}
/* Please don't make changes to the code above unless necessary */
/* css variables */
:root{
 --black: hsl(0, 0%, 0%);
 --yellow:  hsl(41, 68%, 59%);
 --dark-grey: hsl(231, 10%, 14%);
 --light-grey:  hsl(330, 2%, 75%);
 --white:hsl(0, 0%, 100%);
 --f-w-400: 400;
 --f-w-700: 700;
}
/* Start writing your CSS code after this line */


/* Section home begins */

/* Section home ends */


/* Section about-us begins */

/* Section about-us ends */


/* Section offer begins */

/* Section offer ends */


/* Section menu begins */

/* Section menu ends */


/* Section dropdown begins */

    /* Section our-chef begins */

    /* Section our-chef ends */


    /* Section testimonial begins */

    /* Section testimonial ends */


    /* Section popular-dishes begins */

    /* Section popular-dishes ends */


    /* Section cateling begins */

    /* Section cateling ends */


    /* Section events begins */

    /* Section events ends */
    
/* Section dropdown ends */


/* Section gallery begins */

/* Section gallery ends */


/*  footer begins */

/* footer ends */





